* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Orange-400: hsl(12, 88%, 59%);
    --Blue-950: hsl(228, 39%, 23%);
    --Gray-950: hsl(233, 12%, 13%);
    --Orange-50: hsl(13, 100%, 96%);
    --Gray-50: hsl(0, 0%, 98%);
}

body {
    font-family: "Be Vietnam Pro", sans-serif;
    overflow-x: hidden;
}

/* Header Section */
.manage-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 3rem;
}

.manage-header__hamburger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.manage-header__logo-nav {
    display: flex;
    gap: 12rem;
}

.manage-header__links {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.manage-header__item {
    list-style: none;
}

.manage-header__link {
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    color: var(--Blue-950);
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.manage-header__link:hover {
    color: var(--Orange-400);
}

.manage-header__btn {
    border-style: none;
    font-size: 1.1rem;
    background-color: var(--Orange-400);
    color: var(--Gray-50);
    padding: 1.2rem 3rem;
    cursor: pointer;
    border-radius: 50px;
    flex-shrink: 0;
    transition: all 0.3s ease;
}

.manage-header__btn:hover {
    opacity: 0.6;
}


/* Hero Section */
.hero__title {
    font-size: 3rem;
    color: var(--Blue-950);
    max-width: 560px;
    margin-bottom: 2rem;
}

.hero__description {
    font-size: 1.1rem;
    color: var(--Gray-950);
    font-weight: 400;
    max-width: 380px;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.hero__btn {
    border-style: none;
    font-size: 1.1rem;
    background-color: var(--Orange-400);
    color: var(--Gray-50);
    padding: 1.2rem 3rem;
    cursor: pointer;
    border-radius: 50px;
    align-self: flex-start;
    transition: all 0.3s ease;
}

.hero__btn:hover {
    opacity: 0.6;
}

.hero__img {
    position: relative;
}

.hero__img {
    width: 100%;
}

.hero {
    background-image: url(images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-position: top 0rem right 0rem;
    background-size: 54%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding-top: 8rem;
}


/* Manage Difference Section */
.manage-difference__title {
    font-size: 3rem;
    color: var(--Blue-950);
    max-width: 555px;
    margin-bottom: 2rem;
}

.manage-difference__description {
    font-size: 1.1rem;
    color: var(--Gray-950);
    max-width: 400px;
    line-height: 1.5;
}

.manage-difference__item-number {
    background-color: var(--Orange-400);
    color: var(--Gray-50);
}

.manage-difference__item-title {
    color: var(--Blue-950);
    margin-bottom: 1.5rem;
}

.manage-difference__item-description {
    font-size: 1.1rem;
    color: var(--Gray-950);
    max-width: 490px;
    line-height: 1.5;
}

.manage-difference__item-content {
    display: flex;
    gap: 2rem;
}

.manage-difference__item-number {
    align-self: self-start;
    font-size: 1.1rem;
    padding: 1rem 2.2rem;
    border-radius: 50px;
    font-weight: 700;
}

.manage-difference__items {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.manage-difference {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 2rem;
    padding-top: 10rem;
    position: relative;
    /* overflow: hidden; */
}

.manage-difference__bg {
    position: absolute;
    left: -41%;
    bottom: -75%;
    z-index: -1;
}

/* Manage Testimonials Section */
.manage-testimonials {
    padding-top: 10rem;
}

.manage-testimonials__title {
    text-align: center;
    font-size: 3rem;
    color: var(--Blue-950);
}

.testimonials-card__avatar {
    width: 80px;
    margin-bottom: 1rem;
}

.testimonials-card__name {
    color: var(--Blue-950);
    margin-bottom: 1.5rem;
}

.testimonials-card__txt {
    font-size: 1.1rem;
    color: var(--Gray-950);
    line-height: 1.5;
    max-width: 508px;
    padding-bottom: 1rem;
}

.testimonials-card {
    background-color: var(--Gray-50);
    text-align: center;
    padding: 1rem 3rem;
    flex-shrink: 0;
}

.manage-testimonials__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 3rem;
    position: relative;
    overflow-x: hidden;
}

.manage-testimonials__small-btn {
    display: flex;
    justify-content: center;
    gap: 0.6rem;
    margin-top: 3rem;
}

.dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid var(--Orange-400);
    cursor: pointer;
}

.dot.active {
    background-color: var(--Orange-400);
}

.manage-testimonials__btn {
    display: block;
    margin: 0 auto;
    border-style: none;
    font-size: 1.1rem;
    background-color: var(--Orange-400);
    color: var(--Gray-50);
    padding: 1.2rem 3rem;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 4rem;
    transition: all 0.3s ease;
}

.manage-testimonials__btn:hover {
    opacity: 0.6;
}


/* Manage CTA Section */
.manage-cta {
    background-color: var(--Orange-400);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10rem;
    padding: 6rem 0;
    background-image: url(images/bg-simplify-section-desktop.svg);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
}

.manage-cta__title {
    color: var(--Gray-50);
    font-size: 2.5rem;
    max-width: 480px;
}

.manage-cta__btn {
    border-style: none;
    font-size: 1.1rem;
    background-color: var(--Gray-50);
    color: var(--Orange-400);
    padding: 1.2rem 3rem;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.3s ease;
}

.manage-cta__btn:hover {
    opacity: 0.6;
}


/* Manage Footer Section */
.manage-footer {
    background-color: var(--Gray-950);
    padding: 6rem 0;
}

.manage-footer__brand {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-logo {
    width: 250px;
}

.manage-footer__socials {
    display: flex;
    gap: 1rem;
}

.manage-footer__socials li {
    list-style: none;
}

.manage-footer__column li {
    list-style: none;
    margin-bottom: 1.3rem;
}

.manage-footer__column a {
    transition: all 0.3s ease;
}

.manage-footer__column a:hover {
    color: var(--Orange-400);
}

.manage-footer__column a {
    text-decoration: none;
    color: var(--Gray-50);
    font-size: 1rem;
}

.manage-footer__links {
    display: flex;
    gap: 10rem;
}

.manage-footer__input {
    border-radius: 50px;
    border-style: none;
    width: 250px;
    padding: 1rem;
    font-size: 1rem;
}

.manage-footer__input::placeholder {
    color: var(--Gray-950);
    font-weight: 500;
}

.manage-footer__submit-btn {
    border-style: none;
    font-size: 1.1rem;
    background-color: var(--Orange-400);
    color: var(--Gray-50);
    padding: 1rem 2rem;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.3s ease;
}

.manage-footer__submit-btn:hover {
    opacity: 0.6;
}

.manage-footer__form {
    display: flex;
    gap: 1rem;
    position: relative;
}

.manage-footer__email-error {
    position: absolute;
    left: 18px;
    bottom: -21px;
    color: crimson;
    font-size: 0.8rem;
    display: none;
}

.--show-error {
    display: block;
}

.manage-footer__newsletter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.manage-footer__copyright {
    color: var(--Gray-50);
    text-align: right;
}

.manage-footer__container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}


/* Media Queries */
@media (max-width:820px) {
    .manage-header__logo-nav {
        gap: 1rem;
    }

    .hero {
        background-size: 100%;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .hero__description {
        margin: auto;
        margin-bottom: 2rem;
    }

    .manage-difference {
        flex-direction: column;
        gap: 2rem;
    }

    .manage-difference__bg {
        left: -29%;
        bottom: -1%;
        width: 100%;
    }

    .manage-difference__intro {
        text-align: center;
        margin: auto;
        padding: 0 1rem;
    }

    .manage-footer__container {
        flex-direction: column;
    }

    .manage-difference__items {
        justify-content: center;
        align-items: center;
    }

    .manage-difference__description {
        margin: auto;
    }

    .hero__info {
        text-align: center;
        padding: 1rem;
    }

    .manage-footer__brand {
        align-items: center;
        gap: 1rem;
    }

    .manage-footer__links {
        align-items: center;
        justify-content: center;
        margin-top: 4rem;
    }

    .manage-footer__form {
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
    }

    .manage-footer__copyright {
        text-align: center;
        margin-top: 2rem;
    }

    .testimonials-card {
        display: none;
    }

    .testimonials-card.active {
        display: block;
    }
}

@media (max-width: 764px) {

    .manage-header__nav,
    .manage-header__btn {
        display: none;
    }

    .manage-header__hamburger {
        display: block;
    }

    .manage-header__logo-nav {
        gap: 12rem;
    }

    .manage-header__nav.mobile-open {
        display: block;
        position: absolute;
        top: 90px;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
        padding: 2rem;
        width: 85%;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
        z-index: 10;
    }

    .manage-header__links {
        flex-direction: column;
        gap: 1.5rem;
    }

    .manage-difference__title,
    .manage-testimonials__title,
    .manage-cta__title,
    .hero__title {
        font-size: 2rem;
    }

    .manage-footer__links {
        gap: 4rem;
    }

    .manage-cta__title {
        text-align: center;
        margin-bottom: 2rem;
    }

    .manage-cta {
        flex-direction: column;
        background-image: url(images/bg-simplify-section-mobile.svg);
        background-position: left;
    }

    .manage-difference__item-content {
        gap: 1rem;
        flex-direction: column;
        padding: 1rem;
    }

    .testimonials-card__txt {
        max-width: 355px;
    }

    .testimonials-card {
        display: none;
    }

    .testimonials-card.active {
        display: block;
    }
}